body{
    background-color: black;
	background-image: url("./images/curtain.png");
	background-repeat: no-repeat;
	background-position:center;
	background-size:cover;
	background-attachment:fixed;
	
}

h1{
    text-align:center;
    font-size:60px;
    font-family:"Times New Roman", Times, serif;
    color: salmon;
    letter-spacing: 2.5px;
    text-decoration: italic;
	margin-top:5px;
}


h3{
	text-align:center;
	color:black;
	font-size:30px;
}

button{
	margin-right:12px;
	margin-top:5px;
	height:55px;
	width:100px;
	font-size:16px;
	font-family:"Times New Roman", Times, serif;
	letter-spacing:1px;
	padding:3px;
	background-color:white;
	border:1px solid black;
	color:black;
}

#buttonCreate{
	border:transparent;
	margin-top:20px;
	margin-bottom:-10px;
	text-align:center;
}

form{
	color:lightgray;
	font-size:24px;
	text-align:center;
}

#userChoice{
	margin-right:12px;
	margin-bottom:7px;
	height:40px;
	width:300px;
	font-size:17px;
	border: 1px solid black;
}

p{
	margin-top:10px;
	margin-bottom:-16px;
	text-align:center;
	font-size:24px;
	font-family:"Times New Roman", Times, serif;
}

#submit{
    margin-right:10px;
	margin-top:5px;
	height:55px;
	width:100px;
	font-size:16px;
	font-family:"Times New Roman", Times, serif;
	letter-spacing:1px;
	padding:3px;
	background-color:white;
	color:black;
	border: 1px solid black;
}

#reset{
	margin-right:12px;
	margin-top:5px;
	height:55px;
	width:100px;
	font-size:16px;
	font-family:"Times New Roman", Times, serif;
	letter-spacing:1px;
	padding:3px;
	background-color:white;
	color:black;
	border: 1px solid black;
}

img{
	height:200px;
	margin-top:5px;
}

.imgRating{
	color:lightgray;
	margin-left:50px;
}